.bg-img {
    font-family:'Bebas Neue', sans-serif;
    background-image: url("https://wallpapercave.com/wp/wp3105346.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
}
  

#title {
    font-family: 'Macondo', cursive;
    text-align: center;
    margin-top: 65px;
    width: 100%;
    font-size: 157px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #ff9595;
    text-shadow: -3px -3px 0 #3f0000, 3px -3px 0 #854242, -3px 3px 0 #ffffff, 3px 3px 0 #ffffff;
}

#navbarBasicExample {

}


.navbar-item {
    align-items: center;
    display: flex;
    margin-left: 88px;
    margin-top: 14px;
}
.pineapple {
    height: 200px;
}

.navbar {
    width: 100%;

}

.navbar-homebutton {
        height: auto;
        max-width: 100%;
        margin-top: 25px;
        margin-left: 16px;

}

.navbar-link, a.navbar-item {
    cursor: pointer;
    font-family: 'Sawarabi Mincho', serif;
    font-size: 20px;
    margin-top: 24px;
}

.about {
    align-content: center;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 2px 2px 2px 2px;
}

#about-1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: #948989b2;
    background-color:#d3d3d3e0;
    width: 600px;
    padding: 15px;
    border-radius: 8px;
    
}

.pantry {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    border: #948989b2;
    background-color:#d3d3d3e0;
    width: 600px;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 2rem auto;
    padding-bottom: 2px;
    max-width: 90vw;
    padding: 15px;
    border-radius: 8px;
  }
  
ul {
    margin: 3rem auto;
    font-size: 1.75rem;
  }
  
ul li {
    margin: -5px;
}

.addButton {
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columns {
    display: flex;
    background-color: #000000c1;
    margin-top: 30px;
}

.column {
    color: aliceblue;
    text-align: center;
    border-color: #ffffff;

}   

.contactme {
    justify-content: center;
}

.BottomNavbarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30%;
    align-items: baseline;
    align-content: flex-end;
    flex-wrap: wrap;
    position: sticky;
    bottom: 0;
    background: black;
    
}

*footer{
    background-color: #00000000;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 458px;
    display: flex;
    align-items: flex-end;
    position: fixed;
}

*.link {
    background-color: #e6c2c200;
    padding: 40px;
    font-size: 20px;
    width: 100%;
    font-family: 'Sawarabi Mincho', serif;
}


*.TextAreaARR {
    width: 100%;
    text-align: center;
    background-color: #00000000;
    color: beige;
    display: flex;
    height: 46px;
    align-items: center;
    justify-content: center;
}

/* Results Container */
.meal-container {
    background: #9f7f7f;
    color:#ffffff;
    text-align: center;
    margin: 20px;
    border-radius: 8px;

}

.meal-container img {
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Add border radius for rounded corners */
    margin-top: 5px;
    width: 400px;
}

#results-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}

.nutrition-button {
    background-color:#14817c;
    font-size: 16px;
    color: #ffffff;
    padding: 4px;
    border-radius: 4px;
    margin: 13px;

}

.recipe-title {
    font-size: 52px;
    color: black;
    margin-top: 20px;
}

.font-resultsize {
    font-size: 30px;
    margin-top: 35px;
    text-decoration: underline;
}

.ingredient-mod {
    font-size: 20px;
    margin:0px;
}

.instruction-font {
    font-size: 18px;
}